
/*-----------------------------------------------------*/
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0; 
    scroll-behavior: smooth;
    background-image: url(Images/background-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*--scrollbar------------------------------------------*/
body {
    --sb-track-color: #3c4e64;
    --sb-thumb-color: #c8d2ed;
    --sb-size: 10px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }
   
/*-----------------------------------------------------*/


@font-face{
    font-family: alemoric; 
    src: url(Fonts/alemoric/Alemoric\ -\ \(Demo\)\ hanscostudio.com.ttf);
}


@font-face{
    font-family: feogra; 
    src: url(Fonts/feogra/Feogra-Demo.otf);
}   

@font-face{
    font-family: married; 
    src: url(Fonts/married/Married.otf);
}  

@font-face{
    font-family: simple; 
    src: url(Fonts/simple/Comic\ Series.otf);
}

/*-----------------------------------------------------*/  

@keyframes myAnim {
	0% {
		background-position: center bottom;
		background-size: 100%;
	}

	100% {
		background-position: center bottom;
		background-size: 150%;
	}
}


/*-----------------------------------------------------*/

header{/*border: 1px solid black;*/
    margin: auto;
    width: 100%;
    height: 120px;
    background-color:#3c4e64 ; 
    position: fixed;
    z-index: 999;
    
    
 }

 .logo{
    margin-left: 10px;
    width: 20%;
    float: left;  
 }
    .logo img{
        width: 200px;
        height: 100px;
    }
     
 .menu{
    width: 50%; 
    float: right;
    margin: 20px;
    padding: 20px 10px ;
    text-align: right;

 }
    .menu a{
        color: white;
        text-decoration: none;
        text-transform: capitalize; 
        font-size: large;
        padding-left: 20px ;
        
    }
    .menu a:hover{
        color: #916e53;
    }

        .signup {
            text-decoration: none;
            text-transform: capitalize;
            font-family: feogra;
            color: white;
            font-size: 15px;
        }
        .signup a:hover{
            color: #916e53; 
        }    

/*-----------------------------------------------------*/

.banner{/* border-bottom: 5px dotted #3c4e64;*/
    width: 100%;
    height: 900px;/*
    background-image: url(Homepage-images/HomePage\ banner\ 1600px\ 600px.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    animation: myAnim 3s ease 0s 1 reverse forwards;*/
    border-bottom: 50px solid #3c4e64;
    border-radius: 5px;
}

/*------------------------------------------*/
.content-1{
    border: 3px solid #e4dacb;
    border-top-left-radius: 15px ;
    border-bottom-right-radius: 15px ;
    width: 80%;
    height: fit-content;
    margin: 200px 80px  ;
    padding: 30px 20px;

}

    .content-1 a{ 
        font-family: feogra;
        text-decoration: none;
        text-transform: capitalize;

    }

    .content-1 h1{
        color: #3c4e64;
        text-transform: capitalize;
        font-weight: 900;
    }
    .content-1 h3{
        color: #916e53; 
        text-transform: capitalize;
    }
    .content-1 p{

        color: #3c4e64;
        text-transform: capitalize;
    }

/*----------------------------------------*/

.content-2 {
    
    border-top: 5px dotted #916e53;
    border-bottom: 5px dotted #916e53;
    background-image: url(Homepage-images/content-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    width: 100%;
    height: 400px;
    margin-bottom: 100px;
    
    
}

/*---------------------------------------*/
.VisionAndMission{
    width: 100%;
    height: 500px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 20px;
  }
    .Vision{
        border: 3px solid #e4dacb;
        border-radius: 400px;
        width: 40%;
        height: fit-content;
        margin: 40px 600px 20px 60px;
        padding: 20px 20px 20px 60px;
        padding-bottom: 30px;
        float: left;
        /*
        background: rgba(60, 78, 100, 0.5);
        box-shadow: 0 4px 30px #3c4e64;
        backdrop-filter: blur(4.2px);
        -webkit-backdrop-filter: blur(4.2px);

        */

    }
  
        .Vision h3{
            font-family: feogra;
            text-align: center;
            color: #916e53;
            text-transform: capitalize;
  
        }
  
        .Vision p{
            color: #3c4e64;
            text-transform: capitalize;
        }
  
    .Mission{
        border: 3px solid #e4dacb;
        border-radius: 400px; 
        width: 40%;
        height: fit-content;
        margin: 40px 60px 20px 600px;
        padding: 20px 80px;
        padding-bottom: 30px;
        float: right;
        
        /*
        background: rgba(60, 78, 100, 0.5);
        box-shadow: 0 4px 30px #3c4e64;
        backdrop-filter: blur(4.2px);
        -webkit-backdrop-filter: blur(4.2px);
         */
    
    }
        .Mission h3{
            font-family: feogra;
            text-align: center;
            color: #916e53;
            text-transform: capitalize;
        }
  
        .Mission p{
            color: #3c4e64;
            text-transform: capitalize;
        }
  

/*-------------------------------------------------------*/

.content-3 {
    
    border-top: 5px dotted #916e53;
    border-bottom: 5px dotted #916e53;
    background-image: url(Homepage-images/content-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
    width: 100%;
    height: 400px;
    margin-bottom: 200px;
    
    
}

/*-------------------------------------------------------*/
.location-div {
     width: 800px;
     height: fit-content;
     margin: auto; 
     margin-bottom: 100px;
}
    .location-div h1{
        color: #3c4e64;
        text-transform: capitalize;
        text-align: center;
        font-family: feogra;
        text-shadow: 2px 2px 2px #c8d2ed;

    }

.location{
    border: 5px dotted #3c4e64;
    margin: auto;
    width: 800px;
    height: 600px;
    
}

/*-----------------------------------------------------*/
footer{
    width: 100%;
    height: 300px;
    background-color: #3c4e64;
    margin: 0;
}

.f-logo{
    margin-left: 10px;
    width: 20%;
    float: left;  
 }
    .f-logo a{
        color: white;
        text-transform: capitalize;
        text-decoration: none;
        
        
    }

        .f-logo a:hover{
            color: #916e53;
        }
    
    .f-logo img{
        width: 200px;
        height: 100px;
    }
    .f-logo h4{
        text-transform: capitalize; 
        padding-left: 20px ;
        color: white;
        
    }
    .f-logo p{
        text-transform: capitalize; 
        padding-left: 20px ;
        color: white;
        
    }
     

.f-menu{
    width: 20%; 
    float: right;
    margin: 20px 100px;
    padding: 10px 10px ;
    text-align: right;

 }

 .f-menu h3{ 
    text-align: left;
    color: white; 
    text-transform: capitalize;  
    padding-left: 20px ;
    
    }
    .f-menu a{
        display: block; text-align: left;
        color: white;
        text-decoration: none;
        text-transform: capitalize; 
        font-size: large;
        padding-left: 20px ;
        
    }
    .f-menu a:hover{
        color: #916e53;
    }
/*------------------------------------------*/
    .copyRights{
        width: 100%;
        height: 20px;
        margin: 0;
        background-color: #916e53;
        padding: 10px;

    }
        .copyRights p{
            color: white;
            text-transform: capitalize;
            font-size: x-small;

        }